/* jony ive, now unapologetically CSS-ified */

* {
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: baseline;
}

body {
	font-family: -apple-system-font, 'Helvetica Neue', Helvetica, Arial;
	line-height: 1.3em;
	width: 100%;
	max-width: 320px;
	margin: 0 auto;
	padding: 0;
	background: #efeff4;
}

sup {
	font-size: smaller;
	margin-top: -6px;
	position: relative;
	top: -6px;
}

a {
	color: #0000aa;
	text-underline-style: dotted;
}

strong {
	font-weight: bold;
}

p {
	margin: 5px 0;
}

em {
	font-style: italic;
}

ul {
	margin: 0 15px;
	list-style-type: square;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	text-align: center;
}

h1 {
	font-size: 120%;
}

h2 {
	font-size: 110%;
}

panel {
	display: block;
	margin: 0, auto
}

block {
	background-color: transparent;
	display: block;
	margin: 15px 0;
	padding: 5px 15px;
}

block, fieldset {
	border-top: 1px solid #c8c7cc;
}

fieldset {
	background-color: #fff;
	margin: 8px 0;
}

hr, block, fieldset, fieldset > a, fieldset > div, fieldset > textarea {
	border-bottom: 1px solid #c8c7cc;

}

@media (-webkit-min-device-pixel-ratio:  2),  (min-resolution:  192dpi)  {
	block, fieldset {
		border-top: 0.5px solid #c8c7cc;
	}
	hr, block, fieldset, fieldset > a, fieldset > div, fieldset > textarea {
		border-bottom: 0.5px solid #c8c7cc;
	}
}

fieldset > a: last-child, fieldset > div: last-child, fieldset > textarea: last-child {
	border-bottom: 0;
}

fieldset > a, fieldset > div, fieldset > textarea {
	padding: 10px 15px;
}

img.icon {
	height: auto;
	max-height: 30px;
	max-width: 30px;
}

fieldset > a > img.icon {
	margin: -5px 10px -9px 0px;
}

fieldset > a {
	color: inherit;
	display: block;
}

fieldset > a {
	background-repeat: no-repeat;
	background-image: url(/theme/jonyive/resources/chevron.png);
	background-size: 22px 12px;
	background-position: right center;
}

fieldset > div > div, fieldset > a > div {
	display: inline-block;
}

panel > img {
	display: block;
	height: auto;
	width: 90%;
}

fieldset.footer, fieldset.header {
	background-color: transparent;
	border: none;
	padding: 0;
}

fieldset.footer {
	text-align: center;
}

fieldset.header {
	width: 300px;
	margin: 0 auto;
	margin-bottom: -10px;
}

panel > label, fieldset.footer label, fieldset.header label {
	color: #404c64;
	text-shadow: rgba(255, 255, 255, 0.75) 1px 1px 0;
}

panel > label {
	display: block;
	position: relative;
	top: 4px;
	margin: 9px 15px;
	color: #6d6d72;
	text-transform: uppercase;
	font-size: 14px;
}

body.cydia {
	background: none!important;
}

input[type="text"], input[type="password"] {
	-webkit-appearance: none;
	border: 1px solid #aaaaaa;
	height: 23px;
	padding: 0 10px;
	width: 240px;
}

.success, .failure {
	width: 100%;
	font-weight: bold;
	text-align: center;
}

.success {
	color: #00aa00;
}

.failure {
color: #bb0000;
}
